@model WorkForce.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@{var fullName = Model.FirstName + " " + Model.LastName;}
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @fullName
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
		<dt>
            Assigned Computer
		</dt>
		<dd>
            @if (ViewBag.Computer != null)
            {
                var myComputer = ViewBag.Computer.ComputerId + " " + ViewBag.Computer.Manufacturer + " " + ViewBag.Computer.Make;
                @myComputer;
            }
        </dd>
    </dl>
	<table class="table">
		<thead>
			<tr>
				<th>
					Assigned Courses
				</th>
				<th>
					Course Title
				</th>
				<th>
					Start Day
				</th>
				<th>
					End Day
				</th>
			</tr>
		</thead>
		@foreach (var item in Model.Training)
		{
			<tr>
				<td>
					@item.TrainingId
				</td>
				<td>
					@item.Name
				</td>
				<td>
					@item.StartDay
				</td>
				<td>
					@item.EndDay
				</td>
			</tr>
		}
	</table>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
