@model WorkForce.Models.Training

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4 id="delTrainingError">Training</h4>
    <hr />
    @if (ViewBag.Error != null)
    {
        <div class="has-error">
            @ViewBag.Error
        </div>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAttendees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAttendees)
        </dd>

    </dl>
</div>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					First Name
				</th>
				<th>
					Last Name
				</th>
			</tr>
		</thead>
		@foreach (var item in Model.Employees)
        {
			<tr>
				<td>
					@item.EmployeeId
				</td>
				<td>
					@item.FirstName
				</td>
				<td>
					@item.LastName
				</td>
			</tr>
        }
	</table>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
